header{
    background-color: #808080;
    color: white;
}

h7{
    font-weight: bold;
}

footer{
    text-align: end;
    margin-right: 5%;
}

.lafoto{
    margin-top: -135px;
    margin-left: 100px;
    width: 270px;
    height: 270px;
    border: 15px solid #808080;
}
.containerfoto{

    height: 0;
}
.dadesper{
    padding-top: 150px;
}